# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
build
*.local

# Testing
coverage
.nyc_output
cypress/videos
cypress/screenshots
__snapshots__

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
*.tsbuildinfo
next-env.d.ts

# Cache and temp files
.cache
.temp
.tmp
.eslintcache
.stylelintcache

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Package managers
.npm
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Miscellaneous
.thumbs.db
Thumbs.db
desktop.ini
.history/
